In [3]:
# INNER JOIN

import pandas as pd
file_name = "Ward_Offices.csv"
usecols = ["WARD","ALDERMAN","ADDRESS","CITY","ZIPCODE"]

wards_offices = pd.read_csv(file_name, index_col=0, usecols=usecols)   # usecols is useful to filter columns

In [4]:
print(wards_offices.head())
print(wards_offices.shape)

               ALDERMAN                   ADDRESS     CITY  ZIPCODE
WARD
42      Reilly, Brendan                       NaN      NaN      NaN
34    Austin, Carrie M.     507 West 111th Street  Chicago  60628.0
46     Cappleman, James       4544 North Broadway  Chicago  60640.0
3           Dowell, Pat   5046 South State Street  Chicago  60609.0
38    Sposato, Nicholas  3821 North Harlem Avenue  Chicago  60634.0
(50, 4)

In [5]:
wards_offices.sort_values("WARD")

,ALDERMAN,ADDRESS,CITY,ZIPCODE
WARD,,,,
1,"La Spata, Daniel",1958 North Milwaukee Avenue,Chicago,60647.0
2,"Hopkins, Brian",1400 North Ashland Avenue,Chicago,60622.0
3,"Dowell, Pat",5046 South State Street,Chicago,60609.0
4,"King, Sophia D.",435 East 35th Street,Chicago,60616.0
5,"Hairston, Leslie A.",2325 East 71st Street,Chicago,60649.0
6,"Sawyer, Roderick T.",700 East 79th Street,Chicago,60619.0
7,"Mitchell, Gregory I.",2249 East 95th Street,Chicago,60617.0
8,"Harris, Michelle A.",8539 South Cottage Grove Avenue,Chicago,60619.0
9,"Beale, Anthony",34 East 112th Place,Chicago,60628.0
10,"Sadlowski Garza, Susan","10500 South Ewing Avenue, 1st Floor",Chicago,60617.0
11,"Lee, Nicole T.",3659 South Halsted Street,Chicago,60609.0
12,"Cardenas, George A.",3476 South Archer Avenue,Chicago,60608.0
13,"Quinn, Marty",6500 South Pulaski Road,Chicago,60629.0
14,"Burke, Edward M.",2650 West 51st Street,Chicago,60632.0
15,"Lopez, Raymond A.",6412 South Ashland Avenue,Chicago,60636.0
16,"Coleman, Stephanie D.",5411 South Ashland Avenue,Chicago,60609.0
17,"Moore, David H.",1344 West 79th Street,Chicago,60636.0
18,"Curtis, Derrick G.",8359 South Pulaski Road,Chicago,60652.0
19,"O'Shea, Matthew J.",10400 South Western Avenue,Chicago,60643.0
20,"Taylor, Jeanette B.",5707 South Wentworth Avenue,Chicago,60621.0
21,"Brookins, Jr., Howard","9011 South Ashland Avenue, Unit B",Chicago,60620.0
22,"Rodriguez, Michael D.",2500 South St. Louis Avenue,Chicago,60623.0
23,"Tabares, Silvana",6247 South Archer Avenue,Chicago,60638.0
24,"Scott, Jr. Michael",1158 South Keeler Street,Chicago,60624.0
25,"Sigcho-Lopez, Byron",1508 West 18th Street,Chicago,60608.0
26,"Maldonado, Roberto",2511 West Division Street,Chicago,60622.0
27,"Burnett, Jr., Walter",4 North Western Avenue,Chicago,60612.0
28,"Ervin, Jason C.","2622 West Jackson Boulevard, Suite 200A",Chicago,60612.0
29,"Taliaferro, Chris",6272 West North Avenue,Chicago,60639.0
30,"Reboyras, Ariel",3559 North Milwaukee Avenue,Chicago,60641.0
31,"Cardona, Jr., Felix",4606 West Diversey Avenue,Chicago,60639.0
32,"Waguespack, Scott",2657 North Clybourn Avenue,Chicago,60614.0
33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,Chicago,60618.0
34,"Austin, Carrie M.",507 West 111th Street,Chicago,60628.0
35,"Ramirez-Rosa, Carlos","2934 North Milwaukee Avenue, Unit C",Chicago,60618.0
36,"Villegas, Gilbert","6560 West Fullerton Avenue, No. C118 - Suite A",Chicago,60707.0
37,"Mitts, Emma",4924 West Chicago Avenue,Chicago,60651.0
38,"Sposato, Nicholas",3821 North Harlem Avenue,Chicago,60634.0
39,"Nugent, Samantha",4200 West Lawrence Avenue,Chicago,60630.0
40,"Vasquez, Jr., Andre",5620 North Western Avenue,Chicago,60659.0
41,"Napolitano, Anthony V.",7442 North Harlem Avenue,Chicago,60631.0
42,"Reilly, Brendan",NaN,NaN,NaN
43,"Smith, Michele",2523 North Halsted Street,Chicago,60614.0
44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",Chicago,60657.0
45,"Gardiner, James M.",5425 West Lawrence Avenue,Chicago,60630.0
46,"Cappleman, James",4544 North Broadway,Chicago,60640.0
47,"Martin, Matthew J.",4243 North Lincoln Avenue,Chicago,60618.0
48,"Osterman, Harry",5533 North Broadway,Chicago,60640.0
49,"Hadden, Maria E.",1447 West Morse Avenue,Chicago,60626.0
50,"Silverstein, Debra L.",2949 West Devon Avenue,Chicago,60659.0

In [6]:
import pandas as pd
file_name2 = "Boundaries_Wards_2023.csv" 
usecols2= ["WARD","edit_date","st_area_sh","st_length_"]
wards_bound = pd.read_csv(file_name2, index_col=0, usecols=usecols2)

In [7]:
print(wards_bound.head())
print(wards_bound.shape)

       edit_date    st_area_sh    st_length_
WARD
1     06/01/2022  6.589346e+07  61878.821587
2     06/01/2022  3.128511e+07  74175.949239
5     06/01/2022  1.120803e+08  88207.690241
6     06/01/2022  1.392022e+08  80779.851890
7     06/01/2022  1.414924e+08  98906.567862
(50, 3)

In [8]:
# merge function to mix 2 tables with the merger table and "on" parameters

wards_merge = wards_offices.merge(wards_bound, on="WARD", suffixes=("_off","_bou"))   # Suffixes are automatically _x and _y but we can amend them
# using suffixes is useful in case colums have similar names in the two merges tables

In [9]:
wards_merge

,ALDERMAN,ADDRESS,CITY,ZIPCODE,edit_date,st_area_sh,st_length_
WARD,,,,,,,
42,"Reilly, Brendan",NaN,NaN,NaN,06/01/2022,5.253453e+07,68484.113474
34,"Austin, Carrie M.",507 West 111th Street,Chicago,60628.0,06/01/2022,4.272862e+07,75371.506020
46,"Cappleman, James",4544 North Broadway,Chicago,60640.0,06/01/2022,5.592727e+07,52699.506856
3,"Dowell, Pat",5046 South State Street,Chicago,60609.0,06/01/2022,9.777341e+07,85625.597620
38,"Sposato, Nicholas",3821 North Harlem Avenue,Chicago,60634.0,06/01/2022,1.775660e+08,91571.573668
37,"Mitts, Emma",4924 West Chicago Avenue,Chicago,60651.0,06/01/2022,1.004835e+08,56306.600969
6,"Sawyer, Roderick T.",700 East 79th Street,Chicago,60619.0,06/01/2022,1.392022e+08,80779.851890
17,"Moore, David H.",1344 West 79th Street,Chicago,60636.0,06/01/2022,1.301704e+08,90154.781522
5,"Hairston, Leslie A.",2325 East 71st Street,Chicago,60649.0,06/01/2022,1.120803e+08,88207.690241
15,"Lopez, Raymond A.",6412 South Ashland Avenue,Chicago,60636.0,06/01/2022,8.307862e+07,107657.780595
44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",Chicago,60657.0,06/01/2022,4.750785e+07,36707.423435
48,"Osterman, Harry",5533 North Broadway,Chicago,60640.0,06/01/2022,4.500890e+07,35618.125393
9,"Beale, Anthony",34 East 112th Place,Chicago,60628.0,06/01/2022,2.344895e+08,102227.294779
12,"Cardenas, George A.",3476 South Archer Avenue,Chicago,60608.0,06/01/2022,1.334616e+08,76139.484398
19,"O'Shea, Matthew J.",10400 South Western Avenue,Chicago,60643.0,06/01/2022,2.199899e+08,101405.125517
24,"Scott, Jr. Michael",1158 South Keeler Street,Chicago,60624.0,06/01/2022,1.120000e+08,68816.597232
26,"Maldonado, Roberto",2511 West Division Street,Chicago,60622.0,06/01/2022,7.767961e+07,60930.848090
18,"Curtis, Derrick G.",8359 South Pulaski Road,Chicago,60652.0,06/01/2022,1.933789e+08,79337.751930
49,"Hadden, Maria E.",1447 West Morse Avenue,Chicago,60626.0,06/01/2022,5.088363e+07,37398.359952
43,"Smith, Michele",2523 North Halsted Street,Chicago,60614.0,06/01/2022,6.223707e+07,48459.476947
21,"Brookins, Jr., Howard","9011 South Ashland Avenue, Unit B",Chicago,60620.0,06/01/2022,2.118767e+08,92642.006031
30,"Reboyras, Ariel",3559 North Milwaukee Avenue,Chicago,60641.0,06/01/2022,9.490456e+07,81414.586459
33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,Chicago,60618.0,06/01/2022,6.217322e+07,48801.435311
20,"Taylor, Jeanette B.",5707 South Wentworth Avenue,Chicago,60621.0,06/01/2022,1.453499e+08,100221.251179
4,"King, Sophia D.",435 East 35th Street,Chicago,60616.0,06/01/2022,1.158091e+08,103594.867171
47,"Martin, Matthew J.",4243 North Lincoln Avenue,Chicago,60618.0,06/01/2022,8.481029e+07,55157.008247
29,"Taliaferro, Chris",6272 West North Avenue,Chicago,60639.0,06/01/2022,1.193660e+08,97816.079177
39,"Nugent, Samantha",4200 West Lawrence Avenue,Chicago,60630.0,06/01/2022,1.818672e+08,77704.757487
45,"Gardiner, James M.",5425 West Lawrence Avenue,Chicago,60630.0,06/01/2022,1.394346e+08,117115.300022
32,"Waguespack, Scott",2657 North Clybourn Avenue,Chicago,60614.0,06/01/2022,9.288828e+07,47973.924224
31,"Cardona, Jr., Felix",4606 West Diversey Avenue,Chicago,60639.0,06/01/2022,7.442608e+07,52347.368005
25,"Sigcho-Lopez, Byron",1508 West 18th Street,Chicago,60608.0,06/01/2022,9.329780e+07,80678.887175
14,"Burke, Edward M.",2650 West 51st Street,Chicago,60632.0,06/01/2022,1.213109e+08,72296.250663
22,"Rodriguez, Michael D.",2500 South St. Louis Avenue,Chicago,60623.0,06/01/2022,1.055096e+08,60413.987154
36,"Villegas, Gilbert","6560 West Fullerton Avenue, No. C118 - Suite A",Chicago,60707.0,06/01/2022,8.383845e+07,118667.485047
1,"La Spata, Daniel",1958 North Milwaukee Avenue,Chicago,60647.0,06/01/2022,6.589346e+07,61878.821587
2,"Hopkins, Brian",1400 North Ashland Avenue,Chicago,60622.0,06/01/2022,3.128511e+07,74175.949239
35,"Ramirez-Rosa, Carlos","2934 North Milwaukee Avenue, Unit C",Chicago,60618.0,06/01/2022,7.613137e+07,70987.979595
28,"Ervin, Jason C.","2622 West Jackson Boulevard, Suite 200A",Chicago,60612.0,06/01/2022,1.600439e+08,129592.820270
23,"Tabares, Silvana",6247 South Archer Avenue,Chicago,60638.0,06/01/2022,1.168305e+08,94602.226753
50,"Silverstein, Debra L.",2949 West Devon Avenue,Chicago,60659.0,06/01/2022,7.450479e+07,60789.219509
41,"Napolitano, Anthony V.",7442 North Harlem Avenue,Chicago,60631.0,06/01/2022,4.754967e+08,218605.417697
7,"Mitchell, Gregory I.",2249 East 95th Street,Chicago,60617.0,06/01/2022,1.414924e+08,98906.567862
16,"Coleman, Stephanie D.",5411 South Ashland Avenue,Chicago,60609.0,06/01/2022,1.258524e+08,90382.506038
10,"Sadlowski Garza, Susan","10500 South Ewing Avenue, 1st Floor",Chicago,60617.0,06/01/2022,5.773395e+08,147455.404991
13,"Quinn, Marty",6500 South Pulaski Road,Chicago,60629.0,06/01/2022,1.480001e+08,59975.600111
11,"Lee, Nicole T.",3659 South Halsted Street,Chicago,60609.0,06/01/2022,1.273484e+08,64972.869726
27,"Burnett, Jr., Walter",4 North Western Avenue,Chicago,60612.0,06/01/2022,1.595750e+08,129446.885360
40,"Vasquez, Jr., Andre",5620 North Western Avenue,Chicago,60659.0,06/01/2022,9.664484e+07,67854.255079
8,"Harris, Michelle A.",8539 South Cottage Grove Avenue,Chicago,60619.0,06/01/2022,1.799926e+08,77255.568224

In [10]:
wards_merge.columns    # print the colums of the new created DataFrame

Index(['ALDERMAN', 'ADDRESS', 'CITY', 'ZIPCODE', 'edit_date', 'st_area_sh',
       'st_length_'],
      dtype='object')

In [11]:
# One-to-many relationships = every row in the left table is related to ONE or MORE rows in the right table

# one-to-one relationships = every row in the left table is related to only ONE row in the right table

In [ ]:
# Merging multiple DataFrames
# To avoid duplicates, it may be relevant to apply the merge on several columns

wards_merge = wards_offices.merge(wards_bound, on=["WARD","ALDERMAN"])

In [ ]:
# Merging multiple tables

wards_merge = wards_offices.merge(wards_bound, on=["WARD","ALDERMAN"]) \
.merge(wards_offices, on="WARD")

In [ ]:
# smart example of filtering a merged DataFrame from 3 different tables

# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
						          .merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == "Weekday") 
                   & (ridership_cal_stations['station_name'] == "Wilson"))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

In [1]:
# LEFT JOIN

# Very useful to determine some missing data between 2 tables 
wards_merge = wards_offices.merge(wards_bound, on="WARD", how="left")

In [ ]:
# Right join
wards_merge = wards_offices.merge(wards_bound, how="right",
                                   left_on="WARD",right_on="ALDERMAN")   # enables to specifies different labelling of colums

In [ ]:
# Outer join
wards_merge = wards_offices.merge(wards_bound, on="WARD", how="outer",
                                   suffixes=("_off","_bou"))

In [ ]:
# Merging a table to itself
# Merging a table to itself can be useful when you want to compare values in a column to other values in the same column

In [ ]:
# Merging on indexes

wards_merge = wards_offices.merge(wards_bound, left_index=True, right_index=True,    # the "on" parameter is not mentionned 
                                   left_on="WARD",right_on="ALDERMAN")

In [1]:
# FILTERING JOINS

# Semi join = returns the intersection of 2 tables (like an inner join) /
# Return only columns from the left table and NOT the right

wards_offices['WARD'].isin(wards_merge['WARD'])    # filtering example

In [ ]:
# Anti join = returns the left table, excluding the intersection
# Only returns the columns from the left table and NOT the right

wards_merge = wards_offices.merge(wards_bound, on="WARD", how="left", indicator=True)    # Indicator parameter does the job here
# It adds a column that indicates the source of each row

ward_list = wards_merge.loc[wards_merge["_merge"] == "left_only", "WARD"]
non_top_wards = wards_offices[wards_offices["WARD"].isin(ward_list)]